.block>div.class1,
.block>div:nth-child(1) {
background: url('1.jpg') no-repeat;
}
.block>div.class2,
.block>div:nth-child(2) {
background: url('2.jpg') no-repeat;
}
.block>div.class3,
.block>div:nth-child(3) {
background: url('3.jpg') no-repeat;
}
.block>div.class4,
.block>div:nth-child(4) {
background: url('4.jpg') no-repeat;
}
.block>div.class5,
.block>div:nth-child(5) {
background: url('5.jpg') no-repeat;
}
.block>div.class6,
.block>div:nth-child(6) {
background: url('6.jpg') no-repeat;
}
.block>div.class7,
.block>div:nth-child(7) {
background: url('7.jpg') no-repeat;
}
.block>div.class8,
.block>div:nth-child(8) {
background: url('8.jpg') no-repeat;
}
